{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia%}

<div style = "padding: 20px 40px;">
    <div style = "padding: 20px 80px;border-color: BLACK;border-width: 5px;border-style: solid;">

<p>Estamos buscando el Refugio : {{nombre}} </p>

    {% if fichas %}

        <ul>

            {%for ficha in fichas %}

                <li> {{ficha.nombre}} </li>
                <li> {{ficha.telefono}} </li>
                <li> {{ficha.email}} </li>
                <li> {{ficha.direccion}} </li>
                
   
            {% endfor %}

        </ul>

    {% else %}

    <p>No se encontro la Ficha</p>

{% endif %}
    </div>

</div>

{% endblock %}